@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

.cursive {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.navbar {
  font-family: 'Assistant', sans-serif;
  font-weight: 900;
}

.navigation {
  max-height: 10vh !important;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
